<style type="text/css">

.CreateContainerModal th,
.CreateContainerModal td {
	padding: 0.2em 0.5em;
}

.CreateContainerModal input[type="text"] {
	text-indent: 0.3em;
}

</style>

<div class="CreateContainerModal">
	<div class="modal-header">
		<h3 translate>Create a container</h3>
		<span style="position: absolute; top: 1em; right: 1em;">
			<label for="moreOptions" translate>More options</label>
			<input type="checkbox" ng-model="moreOptions" id="moreOptions"/>
		</span>
	</div>
	<div class="modal-body">
		<table>
			<tr>
				<th translate>Image</th>
				<td>
					<select ng-options="img.Id as img.RepoTags[0] for img in DockerData.dockerHost.images" ng-model="param.Image"></select>
				</td>
			</tr>
			<tr>
				<th translate>Name</th>
				<td>
					<input type="text" ng-model="param.Name" placeholder="Container name"/>
				</td>
			</tr>
			<tr>
				<th>Cmd</th>
				<td>
					<input type="text" ng-model="param.Cmd" placeholder="/bin/bash"/>
					<button ng-click="param.Cmd = '/bin/bash'" class="btn btn-info btn-xs">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</button>
				</td>
			</tr>
			<tr>
				<th>ExposedPorts</th>
				<td>
					<input type="text" ng-model="form.ExposedPorts" placeholder="22 80 8080 53/udp"/>
				</td>
			</tr>
			<tr ng-repeat="key in ['Hostname', 'User']" ng-show="moreOptions">
				<th>{{key}}</th>
				<td>
					<input type="text" ng-model="param[key]"/>
				</td>
			</tr>
			<tr ng-repeat="key in ['Memory', 'MemorySwap']" ng-show="moreOptions">
				<th>{{key}}</th>
				<td>
					<input type="number" ng-model="param[key]"/>
				</td>
			</tr>
			<tr ng-repeat="key in ['AttachStdin', 'AttachStdout', 'AttachStderr', 'Tty', 'OpenStdin', 'StdinOnce']" ng-show="moreOptions">
				<th>{{key}}</th>
				<td>
					<input type="checkbox" ng-model="param[key]"/>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div style="margin-top: 1em;" translate>Init start config</div>
				</td>
			</tr>
			<tr>
				<th>Volumes</th>
				<td>
					<input type="text" ng-model="extra.Volumes" placeholder="/host/path:/container/path" style="width: 20em;"/>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">VolumesFrom</th>
				<td>
					<div ng-repeat="vol in form.VolumesFrom track by $index">
						<select ng-options="container.Names[0] as container.Names[0] for container in DockerData.dockerHost.containers" ng-model="vol.from">
							<option value="">-- Container --</option>
						</select>
						<label tooltip="{{'Readonly' | translate}}" style="margin-left: 1em; margin-right: 1em;">
							<input type="checkbox" ng-model="vol.ro"/>
							<span>RO</span>
						</label>
						<span ng-click="form.VolumesFrom.push({})" ng-show="$index === 0" class="glyphicon glyphicon-plus"></span>
						<span ng-click="form.VolumesFrom.splice($index, 1)" ng-show="$index > 0" class="glyphicon glyphicon-remove"></span>
					</div>
				</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">Links</th>
				<td>
					<div ng-repeat="link in form.Links track by $index">
						<select ng-options="container.Names[0] as container.Names[0] for container in DockerData.dockerHost.containers | filter:{running: true}" ng-model="link.from">
							<option value="">-- Container --</option>
						</select>
						<span>:</span>
						<input type="text" ng-model="link.to" placeholder="{{link.from}}"/>
						<span ng-click="form.Links.push({})" ng-show="$index === 0" class="glyphicon glyphicon-plus"></span>
						<span ng-click="form.Links.splice($index, 1)" ng-show="$index > 0" class="glyphicon glyphicon-remove"></span>
					</div>
				</td>
			</tr>
			<tr>
				<th>Ports</th>
				<td>
					<input type="text" ng-model="extra.Ports" placeholder="49080:80 hostPort:containerPort" style="width: 20em;"/>
				</td>
			</tr>
			<tr>
				<th>PublishAllPorts</th>
				<td>
					<input type="checkbox" ng-model="startconfig.PublishAllPorts"/>
				</td>
			</tr>
			<tr ng-show="moreOptions">
				<th>Privileged</th>
				<td>
					<input type="checkbox" ng-model="startconfig.Privileged"/>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()" translate>OK</button>
		<button class="btn btn-warning" ng-click="cancel()" translate>Cancel</button>
	</div>
</div>
