<style type="text/css">

.CreateContainerModal th,
.CreateContainerModal td {
	padding: 0.2em 0.5em;
}

</style>

<div class="CreateContainerModal">
	<div class="modal-header">
		<h3 translate>Create a container</h3>
	</div>
	<div class="modal-body">
		<table>
			<tr>
				<th translate>Image</th>
				<td>
					<select ng-options="img.Id as img.RepoTags[0] for img in DockerData.images" ng-model="param.Image"></select>
				</td>
			</tr>
			<tr>
				<th translate>Name</th>
				<td>
					<input type="text" ng-model="param.Name" placeholder="Container name"/>
				</td>
			</tr>
			<tr ng-repeat="key in ['Hostname', 'User']">
				<th translate>{{key}}</th>
				<td>
					<input type="text" ng-model="param[key]"/>
				</td>
			</tr>
			<tr ng-repeat="key in ['Memory', 'MemorySwap']">
				<th translate>{{key}}</th>
				<td>
					<input type="number" ng-model="param[key]"/>
				</td>
			</tr>
			<tr ng-repeat="key in ['AttachStdin', 'AttachStdout', 'AttachStderr', 'Tty', 'OpenStdin', 'StdinOnce']">
				<th translate>{{key}}</th>
				<td>
					<input type="checkbox" ng-model="param[key]"/>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div style="margin-top: 1em;" translate>Init start config</div>
				</td>
			</tr>
			<tr>
				<th translate>Volumes</th>
				<td>
					<input type="text" ng-model="extra.Volumes" placeholder="/host/path:/container/path" style="width: 15em;"/>
				</td>
			</tr>
			<tr>
				<th translate>Ports</th>
				<td>
					<input type="text" ng-model="extra.Ports" placeholder="49080:80 hostPort:containerPort" style="width: 15em;"/>
				</td>
			</tr>
			<tr>
				<th translate>PublishAllPorts</th>
				<td>
					<input type="checkbox" ng-model="startconfig.PublishAllPorts"/>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()" translate>OK</button>
		<button class="btn btn-warning" ng-click="cancel()" translate>Cancel</button>
	</div>
</div>
