@mixin animate-prefixer($property, $value...) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin animate-keyframe($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}

	@-moz-keyframes #{$animation-name} {
		@content;
	}

	@-o-keyframes #{$animation-name} {
		@content;
	}

	@keyframes #{$animation-name} {
		@content;
	}
}

/* animate spinner */
@include animate-keyframe(spinner) {
	0% {
		@include animate-prefixer("transform", rotate(0deg));
	}
	100% {
		@include animate-prefixer("transform", rotate(360deg));
	}
}

.spinner {
	@include animate-prefixer(animation, spinner 2s infinite linear);
}

/* animate shaker */
@include animate-keyframe(shaker) {
	0% {
		@include animate-prefixer("transform", rotate(-15deg));
	}
	50% {
		@include animate-prefixer("transform", rotate(15deg));
	}
	100% {
		@include animate-prefixer("transform", rotate(-15deg));
	}
}

.shaker {
	@include animate-prefixer(animation, shaker 2s infinite linear);
}

html, body {
	height: 100%;
}

.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.terminal {
	border: #000 solid 5px;
	font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
	font-size: 11px;
	color: #f0f0f0;
	background: #000;
}

.glyphicon-refresh {
	display: inline-block;
}

.tab-header-bar {
	margin-bottom: 1em;
}

.loading-block {
	background: #000;
}

.loading-block.ng-hide-add,
.loading-block.ng-hide-remove {
	-webkit-transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

.loading-block.ng-hide-add.ng-hide-add-active,
.loading-block.ng-hide-remove {
	opacity: 0;
}

.loading-block,
.loading-block.ng-hide-add,
.loading-block.ng-hide-remove.ng-hide-remove-active {
	opacity: 0.5;
}

*[ng-controller="ConfigCtrl"] .table>tbody>tr>th {
	vertical-align: middle;
}
