<style type="text/css">

.StartContainerModal th,
.StartContainerModal td {
	padding: 0.2em 0.5em;
}

.StartContainerModal th {
	white-space: nowrap;
}

</style>

<div class="StartContainerModal">
	<div class="modal-header">
		<h3 translate>Start a container</h3>
	</div>
	<div class="modal-body">
		<table>
			<tr>
				<th style="vertical-align: top;">
					<div>PortBindings</div>
					<div><button ng-click="PortBindings.push({})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></div>
				</th>
				<td>
					<table>
						<tr>
							<th translate>Port Type</th>
							<th translate>Public Port</th>
							<th>*<span translate>Private Port</span></th>
						</tr>
						<tr ng-repeat="pb in PortBindings">
							<td>
								<select ng-options="tp for tp in ['TCP', 'UDP']" ng-model="pb.porttype" ng-init="pb.porttype='TCP'"></select>
							</td>
							<td>
								<input type="text" ng-model="pb.pubports" placeholder="80 8080"/>
							</td>
							<td>
								<input type="text" ng-model="pb.priport" placeholder="80"/>
							</td>
							<td>
								<button ng-click="PortBindings.splice($index, 1)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<th>PublishAllPorts</th>
				<td><input type="checkbox" ng-model="param.PublishAllPorts"/></td>
			</tr>
			<tr>
				<th><span title="Give extended privileges to this container">Privileged</span></th>
				<td><input type="checkbox" ng-model="param.Privileged"/></td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()" translate>OK</button>
		<button class="btn btn-warning" ng-click="cancel()" translate>Cancel</button>
	</div>
</div>
