<!doctype html>
<html lang="zh-TW" ng-app="KDockerWeb">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>KDockerWeb</title>
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
		<!-- build:css index/index.min.css -->
		<link rel="stylesheet" href="index/index.css">
		<!-- endbuild -->
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
		<!-- build:js index/index.min.js -->
		<script src="lib/angular-websocket/angular-websocket.js"></script>
		<script src="lib/angular-local-storage/angular-local-storage.js"></script>
		<script src="lib/angular-translate/angular-translate.js"></script>
		<script src="lib/term.js/src/term.js"></script>
		<script src="lib/config.js"></script>
		<script src="index/CreateContainerModalCtrl.js"></script>
		<script src="index/StartContainerModalCtrl.js"></script>
		<script src="index/index.js"></script>
		<!-- endbuild -->
	</head>
	<body ng-controller="IndexCtrl" style="padding: 10px;">
		<div style="position: absolute; left: 1em; bottom: 1em;">v{{version}}</div>
		<table style="width: 100%; height: 100%;">
			<tr style="height: 1em;">
				<td>
					<a href="."><button class="btn btn-primary">KDocker-Web</button></a>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top; width: 10em; padding-top: 1em; line-height: 3em;">
					<div>
						<button ng-model="tab" btn-radio="'Containers'" class="btn btn-primary">{{"Containers" | translate}}</button>
					</div>
					<div>
						<button ng-model="tab" btn-radio="'Images'" class="btn btn-primary">{{"Images" | translate}}</button>
					</div>
					<div>
						<button ng-model="tab" btn-radio="'Config'" class="btn btn-primary">{{"Config" | translate}}</button>
					</div>
				</td>
				<td style="vertical-align: top;">
					<div ng-controller="ConfigCtrl" ng-show="tab == 'Config'">
						<div class="tab-header-bar">
							<span translate>Config</span>
							<button ng-click="DockerData.reset()" class="btn btn-primary">Reset</button>
						</div>
						<table>
							<tr>
								<th translate>Hostname</th>
								<td>
									<input type="text" placeholder="127.0.0.1" ng-model="DockerData.host" ng-change="UpdateConfig('host')"/>
								</td>
							<tr>
							</tr>
								<th translate>Port</th>
								<td>
									<input type="number" ng-model="DockerData.port" ng-change="UpdateConfig('port')"/>
								</td>
							</tr>
							</tr>
								<th translate>API Version</th>
								<td>
									<input type="text" placeholder="v1.9" ng-model="DockerData.apiver" ng-change="UpdateConfig('apiver')"/>
								</td>
							</tr>
						</table>
					</div>
					<div ng-controller="ContainerCtrl" ng-show="tab == 'Containers'">
						<div class="tab-header-bar">
							<span translate>Containers</span>
							<button ng-click="reload()" class="btn btn-default">
								<span class="glyphicon glyphicon-refresh"></span>
							</button>
							<button ng-show="curtab" ng-click="attach()" class="btn btn-primary" translate>Back</button>
							<span ng-repeat="c in tabs">
								<button class="btn btn-primary" title="{{c.Id}}" ng-click="attach(c)">{{c.name}}</button>
								<button class="btn btn-primary" ng-click="closeContainer(c)">X</button>
							</span>
							<button ng-click="openCreateContainerModal()" class="btn btn-info" translate>Create</button>
						</div>
						<table ng-show="!curtab">
							<tr>
								<th translate>ID</th>
								<th translate>Description</th>
								<th translate>Image</th>
								<th translate>Command</th>
								<th translate>Port</th>
								<th translate>Status</th>
								<th translate>Action</th>
							</tr>
							<tr ng-repeat="c in DockerData.containers" ng-class="{running: c.running, stopped: !c.running}">
								<td>
									<span class="ellipsis" style="display: inline-block; max-width: 10em;" title="{{c.Id}}">{{c.Id}}</span>
								</td>
								<td>
									<span>{{c.name}}</span>
								</td>
								<td>
									<span>{{c.Image}}</span>
								</td>
								<td>
									<span class="ellipsis" style="display: inline-block; max-width: 10em;" tooltip="{{c.Command}}">{{c.Command}}</span>
								</td>
								<td>
									<div ng-repeat="p in c.Ports" style="white-space: nowrap;">
										<a ng-show="p.PublicPort && p.PrivatePort" href="http://{{DockerData.host}}:{{p.PublicPort}}/" target="_blank">
											<span ng-show="p.Type != 'tcp'">{{p.Type}}: </span>{{p.PublicPort}} -&gt; {{p.PrivatePort}}
										</a>
										<span ng-show="!p.PublicPort || !p.PrivatePort">
											<span ng-show="p.Type != 'tcp'">{{p.Type}}: </span> -&gt; {{p.PublicPort}}{{p.PrivatePort}}
										</span>
									</div>
								</td>
								<td>
									<span>{{c.Status}}</span>
								</td>
								<td>
									<button ng-click="attach(c)" class="btn btn-primary btn-xs" translate>Attach</button>
									<button ng-click="openStartContainerModal(c)" ng-show="!c.running" class="btn btn-info btn-xs" translate>Start</button>
									<button ng-click="stop(c)" ng-show="c.running" class="btn btn-warning btn-xs" translate>Stop</button>
									<button ng-click="remove(c)" ng-show="!c.running" class="btn btn-danger btn-xs" translate>Remove</button>
								</td>
							</tr>
						</table>
						<div ng-repeat="c in tabs" id="{{c.Id}}_terminal" ng-show="curtab.Id === c.Id"></div>
					</div>
					<div ng-controller="ImageCtrl" ng-show="tab == 'Images'">
						<div class="tab-header-bar">
							<span translate>Images</span>
							<button ng-click="reload()" class="btn btn-default">
								<span class="glyphicon glyphicon-refresh"></span>
							</button>
						</div>
						<table>
							<tr>
								<th translate>ID</th>
								<th translate>Tags</th>
								<th translate>Size</th>
								<th translate>Create Time</th>
								<th translate>Action</th>
							</tr>
							<tr ng-repeat="img in DockerData.images">
								<td>
									<span class="ellipsis" style="display: inline-block; max-width: 10em;" title="{{img.Id}}">{{img.Id}}</span>
								</td>
								<td>
									<span ng-repeat="tag in img.RepoTags">{{tag}}</span>
								</td>
								<td>
									<span>{{img.VirtualSize | humanSize}}</span>
								</td>
								<td>
									<span>{{img.Created * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
								</td>
								<td>
									<button ng-click="remove(img)" class="btn btn-danger btn-xs" translate>Remove</button>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>
