<!doctype html>
<html lang="zh-TW" ng-app="KDockerWeb">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>KDockerWeb</title>
		<link rel="shortcut icon" href="favicon.png">
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="index/main.min.css"/>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
		<script src="index/main.min.js"></script>
	</head>
	<body ng-controller="IndexCtrl" style="padding: 10px;">
		<div ng-show="devMode" style="position: fixed; left: 1em; bottom: 3em; font-size: 0.8em;">
			<a href="http://docs.docker.io/en/latest/reference/api/docker_remote_api/" target="_blank">Docker Remote API</a>
		</div>
		<div style="position: fixed; left: 1em; bottom: 1em;">v{{DockerData.version}}</div>
		<table style="width: 100%; height: 100%;">
			<tr style="height: 1em;">
				<td colspan="2">
					<table style="width: 100%;">
						<tr>
							<td style="vertical-align: top; width: 1em;">
								<a href="."><button class="btn btn-primary">KDocker-Web</button></a>
							</td>
							<td style="padding: 0em 0.5em;">
								<alert style="margin: 0em; padding: 0.4em 1em;" ng-repeat="alert in alerts" type="alert.type" close="alerts.splice($index, 1)" ng-click="alerts.splice($index, 1)">{{alert.msg}}</alert>
							</td>
							<td style="vertical-align: top; width: 1em;">
								<select ng-model="locale" ng-options="lang.id as lang.name for lang in DockerData.locales" ng-change="updateLocale()" class="form-control input-sm" style="width: auto;"></select>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top; width: 10em; padding-top: 1em; line-height: 3em;">
					<div>
						<button ng-class="{'animated tada': loadingCtrl.container}" ng-model="tab" btn-radio="'Containers'" class="btn btn-primary">{{"Containers" | translate}}</button>
					</div>
					<div>
						<button ng-class="{'animated tada': loadingCtrl.image}" ng-model="tab" btn-radio="'Images'" class="btn btn-primary">{{"Images" | translate}}</button>
					</div>
					<div>
						<button ng-model="tab" btn-radio="'Config'" class="btn btn-primary">{{"Config" | translate}}</button>
					</div>
				</td>
				<td style="vertical-align: top;">

					<div ng-controller="ConfigCtrl" ng-show="tab == 'Config'">
						<div class="tab-header-bar">
							<span translate>Config</span>
							<button ng-click="DockerData.reset()" class="btn btn-primary" translate>Reset</button>
						</div>
						<table class="table table-hover table-condensed" style="float: left; width: auto;">
							<tr>
								<th translate>Nickname</th>
								<td style="white-space: nowrap;">
									<input type="text" placeholder="My home server" ng-model="DockerData.nickname" class="form-control input-sm"/>
								</td>
							</tr>
							<tr>
								<th><span translate>Hostname</span>*</th>
								<td>
									<input type="text" placeholder="127.0.0.1" ng-model="DockerData.host" class="form-control input-sm"/>
								</td>
							</tr>
							<tr>
								<th translate>Port</th>
								<td>
									<input type="number" ng-model="DockerData.port" class="form-control input-sm"/>
								</td>
							</tr>
							<tr>
								<th translate>API Version</th>
								<td>
									<input type="text" placeholder="v1.9" ng-model="DockerData.apiver" class="form-control input-sm"/>
								</td>
							</tr>
							<tr>
								<td ng-show="DockerData.apiurl" colspan="2">
									<span>{{DockerData.apiurl}}</span>
									<button ng-click="addDocker()" class="btn btn-info btn-xs" style="float: right;" translate><span class="glyphicon glyphicon-plus"></span></button>
								</td>
							</tr>
						</table>
						<div style="float: left; margin-left: 2em;">
							<div translate>Tips:</div>
							<div translate>If you connect to docker remote api failed, try the following steps:</div>
							<ul>
								<li style="list-style-type: decimal;" translate>Check docker remote api port is opened, and not blocked by firewall.</li>
								<li style="list-style-type: decimal;" translate>Downgrade the api version, like v1.9, v1.8...etc, or keep empty.</li>
								<li style="list-style-type: decimal;" translate>Click Reset button and try again.</li>
							</ul>
						</div>
						<table ng-show="DockerData.dockerList && DockerData.dockerList.length" class="table table-bordered table-striped table-hover table-condensed" style="float: left; clear: both; margin-top: 2em; width: auto;">
							<thead>
								<tr>
									<th translate>Nickname</th>
									<th translate>API Url</th>
									<th translate>Containers</th>
									<th translate>Images</th>
									<th translate>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="docker in DockerData.dockerList" ng-class="{info: (docker.apiurl == DockerData.apiurl)}">
									<td ng-click="setDocker(docker)" style="cursor: pointer;">{{docker.nickname}}</td>
									<td ng-click="setDocker(docker)" style="cursor: pointer;">{{docker.apiurl}}</td>
									<td ng-click="setDocker(docker)" style="cursor: pointer;">{{docker.containers.length}}</td>
									<td ng-click="setDocker(docker)" style="cursor: pointer;">{{docker.images.length}}</td>
									<td>
										<button ng-click="delDocker($index)" class="btn btn-danger btn-xs" translate><span class="glyphicon glyphicon-remove"></span></button>
										<button ng-click="moveUp($index)" ng-show="$index > 0" class="btn btn-info btn-xs" translate><span class="glyphicon glyphicon-arrow-up"></span></button>
										<button ng-click="moveDown($index)" ng-show="!$last" class="btn btn-info btn-xs" translate><span class="glyphicon glyphicon-arrow-down"></span></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div ng-controller="ContainerCtrl" ng-show="tab == 'Containers'">
						<div class="tab-header-bar">
							<span translate>Containers</span>
							<span ng-show="DockerData.nickname">in {{DockerData.nickname}}</span>
							<button ng-click="curtab=null;reload($event)" tooltip="{{'Press [SHIFT] to reload image list too.' | translate}}" class="btn btn-default">
								<span ng-class="{spinner: loadingCtrl.container}" class="glyphicon glyphicon-refresh"></span>
							</button>
							<button ng-show="curtab" ng-click="attach()" class="btn btn-primary" translate>Back</button>
							<span ng-repeat="c in tabs">
								<button class="btn btn-primary" title="{{c.Id}}" ng-click="attach(c)">{{c.name}}</button>
								<button class="btn btn-primary" ng-click="closeContainer(c)">X</button>
							</span>
							<button ng-click="openCreateContainerModal()" class="btn btn-info" translate>Create</button>
						</div>
						<div style="position: relative;">
							<table ng-show="!curtab" class="table table-bordered table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th translate>ID</th>
										<th translate>Description</th>
										<th translate>Image</th>
										<th translate>Command</th>
										<th translate>Port</th>
										<th translate>Status</th>
										<th translate>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="c in DockerData.containers" ng-class="{danger: !c.running}">
										<td>
											<span class="ellipsis" style="display: inline-block; max-width: 8em;" title="{{c.Id}}">{{c.Id}}</span>
										</td>
										<td>
											<span>{{c.name}}</span>
										</td>
										<td>
											<span>{{c.Image}}</span>
										</td>
										<td>
											<span class="ellipsis" style="display: inline-block; max-width: 10em;" tooltip="{{c.Command}}">{{c.Command}}</span>
										</td>
										<td>
											<div ng-repeat="p in c.Ports" style="white-space: nowrap;">
												<a ng-show="p.PublicPort && p.PrivatePort" href="http://{{DockerData.host}}:{{p.PublicPort}}/" target="_blank">
													<span ng-show="p.Type != 'tcp'">{{p.Type}}: </span>{{p.PublicPort}} -&gt; {{p.PrivatePort}}
												</a>
												<span ng-show="!p.PublicPort || !p.PrivatePort">
													<span ng-show="p.Type != 'tcp'">{{p.Type}}: </span> -&gt; {{p.PublicPort}}{{p.PrivatePort}}
												</span>
											</div>
										</td>
										<td>
											<span>{{c.Status}}</span>
										</td>
										<td>
											<button ng-click="attach(c)" class="btn btn-primary btn-xs" translate>Attach</button>
											<button ng-click="openStartContainerModal(c)" ng-show="!c.running" class="btn btn-info btn-xs" translate>Start</button>
											<button ng-click="stop(c)" ng-show="c.running" class="btn btn-warning btn-xs" translate>Stop</button>
											<button ng-click="remove(c)" class="btn btn-danger btn-xs" translate>Remove</button>
										</td>
									</tr>
								</tbody>
							</table>
							<div ng-show="loading" class="loading-block" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></div>
						</div>
						<div ng-repeat="c in tabs" id="{{c.Id}}_terminal" ng-show="curtab.Id === c.Id"></div>
					</div>

					<div ng-controller="ImageCtrl" ng-show="tab == 'Images'">
						<div class="tab-header-bar">
							<span translate>Images</span>
							<span ng-show="DockerData.nickname">in {{DockerData.nickname}}</span>
							<button ng-click="reload($event)" tooltip="{{'Press [SHIFT] to reload container list too.' | translate}}" class="btn btn-default">
								<span ng-class="{spinner: loadingCtrl.image}" class="glyphicon glyphicon-refresh"></span>
							</button>
						</div>
						<div style="position: relative;">
							<table class="table table-bordered table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th translate>ID</th>
										<th translate>Tags</th>
										<th translate>Size</th>
										<th translate>Create Time</th>
										<th translate>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="img in DockerData.images">
										<td>
											<span class="ellipsis" style="display: inline-block; max-width: 10em;" title="{{img.Id}}">{{img.Id}}</span>
										</td>
										<td>
											<span ng-repeat="tag in img.RepoTags">{{tag}}</span>
										</td>
										<td>
											<span>{{img.VirtualSize | humanSize}}</span>
										</td>
										<td>
											<span>{{img.Created * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
										</td>
										<td>
											<button ng-click="remove(img)" class="btn btn-danger btn-xs" translate>Remove</button>
										</td>
									</tr>
								</tbody>
							</table>
							<div ng-show="loading" class="loading-block" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"></div>
						</div>
					</div>

				</td>
			</tr>
		</table>
		<div ng-show="!!loading" style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px;">
			<div style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background: #fff;"></div>
			<table style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px;">
				<tr>
					<td style="text-align: center;">
						<img src="index/loading.png" class="spinner" style="width: 128px; height: 128px; display: inline-block;"/>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
